Host *.cern.ch *.fnal.gov *.mit.edu
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials yes
  PubkeyAuthentication yes

Host login*.hep.wisc.edu
  User efriis
  Compression yes
  GSSAPIDelegateCredentials yes
  GSSAPIAuthentication yes
  DynamicForward 4445

Host *.fnal.gov
  PreferredAuthentications gssapi-with-mic,gssapi,password

Host lxvoadm*.cern.ch lxplus*.cern.ch cmslpc*.fnal.gov
  PreferredAuthentications gssapi-with-mic,gssapi,password
  ProxyCommand none
  GSSAPITrustDNS yes

#Host lxvoadm*.cern.ch
#  DynamicForward 47170

Host lxplus418.cern.ch
  DynamicForward 47170

Host cmslpc22.fnal.gov
  DynamicForward 47270

# To point5
Host cmsusr.cern.ch
  DynamicForward 47370

Host lxvoadm*.cern.ch vo*.cern.ch cms*.cern.ch lxbuild*.cern.ch macms*.cern.ch cmslpc*.fnal.gov cmssrv*.fnal.gov
  ForwardAgent yes

Host *cvs*.cern.ch *svn*.cern.ch
  # CVS: http://www.mail-archive.com/debian-ssh@lists.debian.org/msg05389.html
  # SVN: concurrent accesses (e.g. inside cmsBuild) seem to fight over tunnel.
  GSSAPITrustDNS yes
  ControlPersist no
  ProxyCommand none

Host *.cern.ch
  GSSAPITrustDNS no
  ForwardX11 yes
  ForwardX11Trusted yes
  #ProxyCommand proxy-ssh lxvoadm5.cern.ch /usr/bin/nc %h %p
  ProxyCommand ~/.ssh/ssh-fu/proxy-ssh lxplus418.cern.ch /usr/bin/nc %h %p

Host *.fnal.gov
  GSSAPITrustDNS no
  ProxyCommand ~/.ssh/ssh-fu/proxy-ssh cmslpc22.fnal.gov /usr/bin/nc %h %p

Host uw6
  User efriis
  Hostname login06.hep.wisc.edu
  Compression yes
  GSSAPIDelegateCredentials yes
  GSSAPIAuthentication yes
  DynamicForward 4445

Host uw5
  User efriis
  Hostname login05.hep.wisc.edu
  Compression yes
  GSSAPIDelegateCredentials yes
  GSSAPIAuthentication yes
  DynamicForward 4445

Host pcrctvme01
  ForwardX11 yes
  ForwardX11Trusted yes
  ProxyCommand ~/.ssh/ssh-fu/proxy-ssh cmsusr.cern.ch /usr/bin/nc %h %p

Host *
  IdentitiesOnly yes
  ServerAliveInterval 5
  ServerAliveCountMax 6
  ControlPersist 15
  ControlMaster auto
  ControlPath ~/.ssh/link-%r@%h.%p
  GSSAPIRenewalForcesRekey yes
  GSSAPITrustDNS yes
  ForwardX11 no
  # ForwardX11 yes
  # ForwardX11Trusted yes
  Protocol 2
